body {
  padding: 50px;
  font: 14px "Lucida Grande";
}

a {
  color: #00b7ff;
}
h1 {
  font-size: 42px;
  font-weight: 700;
  color: blueviolet;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  color: green;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
li {
  font-size: 30;
  font-weight: 500;
  color: green;
}
span {
  font-size: 36;
  font-weight: 700;
  color: orangered;
}
