<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcom to Page <%= title %></h1>
    <h2>
      Today is
      <span style="font-size: 26; font-style: italic; color: red; font-weight: 700"
        ><%= day %></span
      >
    </h2>
  </body>
</html>
