<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo"><span>product</span><span>company</span></div>
      <div class="header__menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/addproducts">Add Product</a></li>
        </ul>
      </div>
    </header>
    <div class="wraper">
      <main class="page"></main>
      <footer></footer>
    </div>
  </body>
</html>
